  <%- include("header") -%>

  <div class="btnCon">
    <a href="/addTrans">+/-</a><br><br><br>
    <a href="/preMonth">Previous Month</a>
  </div>

  <% let filteredTrans = trans.filter((tran) => { return (tran.date.split("-")[0] == currYear && tran.date.split("-")[1] == currMonth) });%>

  <div class="allTrans">
    <% for(tran of filteredTrans){%>
    <div class="tranCon">
      <div class="leftCon">
        <% if(tran.type == 'in'){%>
          <span class="inAmo">Rs.<%= tran.amount%></span>
          <% currIn += tran.amount %>
        <%}else{%>
          <span class="exAmo">Rs.<%= tran.amount%></span>
          <% currEx += tran.amount %>
        <%}%>
          <span><%= tran.date%></span>
      </div>
      <div class="rightCon">
        <span><%= tran.des%></span>
      </div>
    </div>
    <%}%>
  </div>

  <div class="inExCon">
    <span class="inAmo">Rs.<%= currIn%></span>
    <span class="exAmo">Rs.<%= currEx%></span>
  </div>

  <div class="curr">
    <span>In Hand: </span>
    <span>
      <% let inHand = currIn - currEx%>
      <% if(inHand >= 0){%>
        <span class="inAmo">Rs.<%= inHand%></span>
      <%}else{%>
        <span class="exAmo">Rs.<%= inHand*-1%></span>
      <%}%>
    </span>
  </div>


  </body>
</html>
